@* Aquí el admin literal ve todo *@
@page "/hub"
@inject ICategoryService CatSrv
@inject IProductService ProdSrv

<h1 class="title">Categorias</h1>
@* <Embers.Bulma.Table /> *@

<h1 class="title">Productos</h1>
@* <Embers.Bulma.Table /> *@

@code{
  private List<Categoria> Categorias;
  private List<Producto> Productos;
  private List<ApplicationUser> Usuarios;
  private List<Distribuidor> Distribuidores;
  private readonly string[] _headerCategorias = {"Nombre"};
  private readonly string[] _headerProductos = {"Nombre", "Categoria", "Subcategoria"};
  private readonly string[] _headerUsuarios = {"Email", "Nombre(s)", "Apellido(s)", "Hash"};
  private readonly string[] _headerDistribuidores = {""};
  private void buildRows()
  {

  }
  protected async override Task OnInitializedAsync()
  {
    var c = await CatSrv.GetCategories();
    Categorias = c.ToList();

    var p = await ProdSrv.GetAll();
    Productos = p.ToList();
  }
}