@*Registro de categoría*@
@page "/hub/paqueterias/registro"

@*Edición de categoría existente*@


<main>
  <h1>Paqueteria</h1>
  <div class="columns">
    <div class="column is-2"></div>
    <div class="column">
      <FormPaqueteria Distribuidor="@Distribuidor" OnValid="Test" />
    </div>
    <div class="column is-2"></div>
  </div>
</main>

@code{
  private Distribuidor Distribuidor;
  private void Test(){
    Console.WriteLine($"Hey");
  }
}