@page "/hub/productos/registro"
@page "/hub/productos/{id}"
@page "/hub/productos/{id}/edit"
@inject NavigationManager NavMgr
@inject IProductService PrdtSrv


<main>
    <div class="main_content">      
      <div class="container">
        <h1 class="title" style="text-align: center;">Agregar Producto</h1>
        <FormProducto @ref="form" Producto="@producto" OnValid="ValidSubmit" />
      </div>      
    </div>  
</main>


@code{
  [Parameter] public string id {get; set;}
  private FormProducto form;
  private Producto producto;
  private async Task ValidSubmit()
  {
    Console.WriteLine($"Product form submitted");
    await PrdtSrv.Register(producto);
  }
  protected async override Task OnParametersSetAsync()
  {
    if (id != null && id != String.Empty && id != "registro")
    {
      producto = await PrdtSrv.GetById(id);
      form._Exists = !(producto != null && NavMgr.Uri.ToString().Contains("edit"));
    }
    else
      producto = new Producto();
  }
}