<div class="image-display-container">
  <section id="displayed">
    <div class="box">
      <figure class="image is-16by9">
        <img src="@Images[displayed]">
      </figure>
    </div>
  </section>

  <section id="images">
    @for (int i = 0; i < Images.Count; i++)
    {
      var item = Images[i];
      int index = i;
      <figure class="image is-128x128" @onclick="() => Test(index)">
        <img src="@item">
      </figure>
    }
  </section>
</div>

@code{
  [Parameter] public List<string> Images {get; set;}
  private int displayed = 0;
  private void Test(int i)
  {
    //Console.WriteLine($"Index {i} was clicked");
    displayed = i;
    StateHasChanged();
  }
  protected override void OnInitialized()
  {
    if (Images == null){
      Images = new List<string>();
      
      Images.Add("https://bulma.io/images/placeholders/128x128.png");
      Images.Add("https://bulma.io/images/placeholders/128x128.png");
      Images.Add("https://upload.wikimedia.org/wikipedia/commons/c/c7/Tabby_cat_with_blue_eyes-3336579.jpg");
      Images.Add("https://bulma.io/images/placeholders/128x128.png");
      Images.Add("https://bulma.io/images/placeholders/128x128.png");
    }
  }
}