<div class="box">
  <section id="top" class="level">
    <div class="level-left">
      <div class="level-item">
        <p>
          <span>
            Fecha de Entrega: @Pedido.Envio.FechaEstimada
          </span>
        </p>
      </div>
    </div>

    <div class="level-item">
      Id de Orden: @Pedido.Id.ToString()
    </div>

    <div class="level-right">
      <div class="level-item">
        <span>
          <a
            href="/pedidos/@Pedido.Id.ToString()">Ver detalles </a> | <a href="/404"> Soporte</a>
        </span>
      </div>
    </div>
  </section>

  <section id="bottom" class="content">
    @ChildContent
  </section>
</div>

@code{
  [Parameter] public Pedido Pedido {get; set;}
  [Parameter] public RenderFragment ChildContent {get; set;}
}