@inject NavigationManager NavMgr

<Card Title="@Producto.Nombre" Subtitle='@($"${Producto.Precio.ToString()}")'>
  <p>@Producto.Descripcion</p>
  <br>
  <button class="button is-primary" @onclick="GoToProduct">
    Ver Detalles
  </button>
</Card>

@code{
  [Parameter] public Producto Producto {get; set;}
  private void GoToProduct()
  {
    NavMgr.NavigateTo($"/productos/{Producto.Id.ToString()}");
  }
}