:root{
    /* Paleta de colores enviada al grupo */
    --is-blue-1: #014F86;
    --is-blue-2: #013A63;
    --is-blue-3: #01497C;
    --is-blue-4: #014F86;
    --is-blue-5: #2A6F97;
    --is-blue-6: #2C7DA0;
    --is-blue-7: #468FAF;
    --is-blue-8: #61A5C2;
    --is-blue-9: #89C2D9;
    --is-blue-10: #A9D6E5;
  }

html, body {
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}

nav{
    height: 6vh;
    width: 100%;
}

main{
    height: 94vh;
    width: 100%;
    padding: 0;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: rgb(255, 112, 112);
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
