#titulo{
  background-image: url(/img/football.jpg);
  background-position: center;
  background-size: cover;
}

#categorias{
  padding-left: 5rem;
  padding-right: 5rem;
}

#marcas{
  background-color: var(--is-blue-7);
}

#marcas h1, #testimonios h1{
  color: white;
}

#brands{
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#top{
  width: 100vw;
  display: flex;
  justify-content: center;
}

#vendido{
  max-width: 30vw;
}

#testimonios{
  background-color: var(--is-blue-8);
}

#product-detail, #update-detail{
  margin-top: 2rem;
}

#update-graph{
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}