@page "/"

<section id="titulo" class="hero is-fullheight has-text-light">
    <div class="hero-body">
      <div>
        <p class="title has-text-light">
          Fan 07
        </p>
        <p class="subtitle has-text-light">
          ¡Todo para tus deportes!
        </p>
      </div>
    </div>
</section>

<section id="categorias" class="section has-text-centered">
    <h1 class="title">Categorías</h1>
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/img/men.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <h1 class="title">Hombres</h1>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/img/women.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <h1 class="title">Mujeres</h1>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/img/kids.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <h1 class="title">Niños</h1>
          </div>
        </div>
      </div>
    </div>
</section>

<section id="marcas" class="section has-text-centered">
  <h1 class="title">Nuestras Marcas</h1>
  <div id="brands" class="columns is-centered is-justify-content-space-around">
    <div class="column is-fluid">
      <figure class="image is-128x128">
        <img class="is-rounded" src="/img/nike.png">
      </figure>
    </div>
    <div class="column is-fluid">
      <figure class="image is-128x128">
        <img class="is-rounded" src="/img/adidas.jpg">
      </figure>
    </div>
    <div class="column is-fluid">
      <figure class="image is-128x128">
        <img class="is-rounded" src="/img/under.png">
      </figure>
    </div>
    <div class="column is-fluid">
      <figure class="image is-128x128">
        <img class="is-rounded" src="/img/puma.png">
      </figure>
    </div>
    <div class="column is-fluid">
      <figure class="image is-128x128">
        <img class="is-rounded" src="/img/umbro.png">
      </figure>
    </div>
  </div>
</section>

<div id="top">
  <section id="vendido" class="section has-text-centered">
    <h1 class="title">Lo más vendido</h1>
    <div class="columns">
      <div class="column">
        <Card Title="A">
          AAAA
        </Card>
      </div>
    </div>
  </section>
</div>

<section id="testimonios" class="section has-text-centered">
  <h1 class="title">Testimonios</h1>
  <div class="columns">
    <div class="column">
      <article class="message">
        <div class="message-header">
          <p>Testimonio A</p>
        </div>
        <div class="message-body">
          @Testimonios[0]
        </div>
      </article>
    </div>
    
    <div class="column">
      <article class="message">
        <div class="message-header">
          <p>Testimonio B</p>
        </div>
        <div class="message-body">
          @Testimonios[1]
        </div>
      </article>
    </div>

    <div class="column">
      <article class="message">
        <div class="message-header">
          <p>Testimonio C</p>
        </div>
        <div class="message-body">
          @Testimonios[2]
        </div>
      </article>
    </div>
  </div>
</section>

<FanFooter />

@code{
  private string[] Testimonios;
  protected override void OnInitialized()
  {
    Testimonios = new string[] {
      "A",
      "B",
      "C"
    };
  }
}