main{
  padding: 0 !important;
}

#titulo{
  width: 100%;
  height: 5rem;
  background-color: aqua;
}

#categorias{
  width: 100%;
  height: 5rem;
  background-color: green;
}

#marcas{
  width: 100%;
  height: 5rem;
  background-color: red;
}