@page "/productos/{id}"
@inject NavigationManager NavMgr
@inject IProductService PrdtSrv
@inject ICartService CartSrv

<main class="content">
  <h1>
    @producto.Nombre
  </h1>

  <button class="button" @onclick="AddToCart">Agregar al carrito</button>

</main>

@code{
  [Parameter] public string id { get; set; }
  private Producto producto;
  protected async override Task OnParametersSetAsync()
  { 
    if (id != null && id != String.Empty)
      @* Dev Code Block *@
      try{
        producto = await PrdtSrv.GetById(id);
      } catch (NotImplementedException e){
        producto = null;
      }

    else
      NavMgr.NavigateTo("/404", true);

    @* Dev Code Block *@
    if (producto == null)
      producto = new Producto{
        Nombre = "Test",
        Descripcion = "This is a test",
        Precio = new decimal(1.2),
        Existencia = 1
      };
  }

  private void AddToCart(){
    CartSrv.Productos.Add(
      new CartItem{
        Cantidad = 1,
        Producto = producto
      }
    );
  }

}