@page "/carrito"
@inject ICartService CartSrv
@inject IProductService PrdtSrv

<main>
  @if (CartSrv.Productos.Count > 0)
  {
    <div class="columns">
      <div class="column is-2"></div>
      <div class="column">
        <div class="box">
          <CartTable Rows="@display" Minus="reduce" Plus="add" Delete="delete"/>
        </div>

        <div class="level content">
          <div class="level-left">
            <p class="level-item">
              Tienes @CartSrv.Count() producto(s) en tu carrito
            </p>
          </div>
          <div class="level-right">
            <div class="level-item">
              <div class="columns is-multiline is-mobile">
                <div class="column is-full">
                  <p>Total: <em>$ @CartSrv.Total()</em></p>
                </div>
                <div class="column is-full">
                  <button class="button is-primary">
                    Completar Pedido
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="column is-2"></div>
    </div>
  }
  else
  {
    <p>Tu Carrito está vacío</p>
  }
</main>

@code{
  public List<CartItem> Productos { get; set; }
  private List<string[]> display;
  private string formatDecimal(decimal d)
  {
    int enteros = ((int)Math.Floor(((double)d)));
    int decimales = (int) (((double) d ) * 100 - enteros * 100);
    return $"{enteros}.{decimales}";
  }
  private void buildTable()
  {
    display = new List<string[]>();
      foreach (var p in Productos)
      {
        display.Add(
          new string[]
          {
            $"{p.Producto.Imagenes.ToList()[0].Imagen}",
            $"{p.Producto.Nombre}",
            $"{p.Cantidad}",
            $"{formatDecimal(p.Producto.Precio)}",
            $"{formatDecimal(p.Cantidad * p.Producto.Precio)}"
          }
        );
      }
  }
  protected override void OnInitialized()
  {
    Console.WriteLine($"Count: {CartSrv.Productos.Count}");
    Productos = CartSrv.Productos;
    
    if (Productos != null && Productos.Count > 0)
      buildTable();
  }

  public void reduce(int i)
  {
    CartSrv.Productos[i].Cantidad--;
    if (CartSrv.Productos[i].Cantidad <= 0){
      CartSrv.Productos.Remove(CartSrv.Productos[i]);
    }

    if (Productos != null && Productos.Count > 0)
      buildTable();
    
    StateHasChanged();
  }

  public void add(int i)
  {
    if (CartSrv.Productos[i].Cantidad < CartSrv.Productos[i].Producto.Existencia)
      CartSrv.Productos[i].Cantidad++;

    if (Productos != null && Productos.Count > 0)
      buildTable();

    StateHasChanged();
  }

  public void delete(int i)
  {
    CartSrv.Productos.Remove(CartSrv.Productos[i]);

    if (Productos != null && Productos.Count > 0)
      buildTable();

    StateHasChanged();
  }

}