@page "/pedidos"
@inherits AuthenticatedComponent
@inject IMailingService MailSrv
@inject NavigationManager NavMgr

<main>
  <h1 class="title">Mis Pedidos</h1>
  <div class="columns">
    <div class="column is-2"></div>
    <div class="column">
      @if (Pedidos != null && Pedidos.Count > 0)
        foreach(var p in Pedidos)
        {
          <OrderCard Pedido="@p">
            <ul>
              @if (p.Productos != null && p.Productos.Count > 0)
              foreach (var producto in p.Productos)
              {
                <li>
                  @producto.Nombre
                </li>
              }
            </ul>
          </OrderCard>
        }
        else
        {
          <p>
            ¡Aún no tienes pedidos!
          </p>
        }
    </div>
    <div class="column is-2"></div>
  </div>
  <FanFooter />
</main>

@code{
  private List<Pedido> Pedidos;
  protected async override Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();
    if (_currentUser == null)
      NavMgr.NavigateTo("/Identity/Account/Register", true);
    else
    Pedidos = await MailSrv.GetPedidos(_currentUser);
  }
}