@page "/pedidos"
@inherits AuthenticatedComponent
@inject IMailingService MailSrv
@inject NavigationManager NavMgr

<main>
  <h1 class="title">Mis Pedidos</h1>
  @if (Pedidos != null && Pedidos.Count > 0)
  foreach(var p in Pedidos)
  {
    <OrderCard Pedido="@p"/>
  }
  else 
  {
    <p>
      ¡Aún no tienes pedidos!
    </p>
  }
</main>

@code{
  private List<Pedido> Pedidos;
  protected async override Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();
    if (_currentUser == null)
      NavMgr.NavigateTo("/Identity/Account/Register", true);
    else
    Pedidos = await MailSrv.GetPedidos(_currentUser);
  }
}