@page "/carrito/pago"
@inherits AuthenticatedComponent
@inject ICartService CartSrv
@inject NavigationManager NavMgr

<AuthorizeView>
  <Authorized>
    <main>
      <div class="columns">
        <div class="column is-2"></div>
        <div class="column">
          <div class="box content">
            <h3>Seleccionar Dirección de Entrega</h3>
            <select class="dropdown">
              <option value="A">A</option>
            </select>
            <br>
            <hr>
            <h3>Nueva Dirección</h3>
            <FormDireccion OnValid="Test" />
          </div>
          <button class="button is-primary" @onclick="Complete">
            Simular Pago
          </button>
        </div>
        <div class="column is-2"></div>
      </div>
    </main>
  </Authorized>
</AuthorizeView>

@code{
  private FormDireccion form;
  private void Test()
  {
    Console.WriteLine($"submit");
  }
  protected async override Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();
    if (_currentUser == null)
      NavMgr.NavigateTo("/Identity/Account/Register", true);
  }
  private void Complete()
  {
    //Simula pago rechazado
    Random r = new Random();
    string result = ((int) r.Next(10) > 2 ? "success" : "failed");
    NavMgr.NavigateTo($"/carrito/pago/{result}");
  }
}