@implements IForm
@inject ICategoryService CatSrv

<EditForm
  Model="@Producto"
  OnInvalidSubmit="@Invalid"
  OnValidSubmit="@Valid">
  <DataAnnotationsValidator />
  <ValidationSummary />

  <fieldset disabled="@_Exists">
    <div class="field">
      <label class="label">Nombre</label>
      <div class="control has-icons-right">
        <input
          required
          class="input"
          type="text"
          placeholder="Nombre"
          @bind-value="Producto.Nombre">
      </div>
    </div>

    <div class="field">
      <label class="label">Descripción</label>
      <div class="control has-icons-right">
        <textarea
          class="textarea"
          placeholder="Agrega una breve descripción"
          @bind="Producto.Descripcion"
          ></textarea>
      </div>
    </div>

    <div class="field">
      <label class="label">Precio</label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input"
          type="number"
          min="0.99"
          placeholder="0"
          @bind="_Precio">
        <span class="oi icon is-small is-left" data-glyph="dollar"></span>
      </div>
    </div>

    <div class="field">
      <label class="label">Existencia</label>
      <div class="control has-icons-right">
        <input
          class="input"
          type="number"
          min="0"
          placeholder="0"
          @bind-value="Producto.Existencia">
      </div>
    </div>

    <div class="field">
      <label class="label">Categoría</label>
      <div class="control">
        <div class="select">
          <select>
            <option>Select dropdown</option>
            <option>With options</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Subcategoría</label>
      <div class="control">
        <div class="select">
          <select>
            <option>Select dropdown</option>
            <option>With options</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-success">Aceptar</button>
      </div>
      <div class="control">
        <button class="button is-danger is-light">Cancelar</button>
      </div>
    </div>
  </fieldset>
</EditForm>

@code{
  [Parameter] public Producto Producto {get; set;}
  [Parameter] public EventCallback OnValid {get; set;}
  private List<Categoria> Categorias;
  private List<Subcategoria> Subcategorias;
  private Categoria _currentCategory;
  private bool _Exists = false;
  private double _Precio = 0;
  private async void GetSubcategories(Categoria c)
  {
    var s = await CatSrv.GetSubcategories(c);
    if (s.Count > 0)
      Subcategorias = s.ToList();
    else
      Subcategorias = new List<Subcategoria>();
  }
  protected async override Task OnInitializedAsync()
  {
    var c = await CatSrv.GetCategories();
    Categorias = c.ToList();
    Subcategorias = new List<Subcategoria>();
  }
  protected override void OnParametersSet()
  {
    if (Producto == null)
      Producto = new Producto();
    else
      _Exists = true;
  }

  public Task Invalid()
  {
    //TODO: Display error messages
    Console.WriteLine($"Form not valid!");
    return Task.FromResult<bool>(false);
  }

  public Task Valid()
  {
    Console.WriteLine($"Submitting form...");
    return Task.FromResult<bool>(true);
  }

}